$halfHour: 25px;
$calWidth: 1000px;
$timeLabelWidth: 50px;
$dayWidth: ($calWidth - $timeLabelWidth)/7;
$grey: #e3e3e3;

.time-block{
  width: 100%;
  height: $halfHour;
  border-right: 1px solid $grey;
}

.week-dir{
  height: 85%;
}

.week-container{
  width: 100%;
  height:100%;
  overflow: scroll;
  margin: 0;
}

.cal-element{
  display: inline-block;
}

.date-labels{
  position: relative;
  background-color: #fff;
  /*width: 100%;*/
  margin: -10px -10px 0 -10px;
  -webkit-box-shadow: 0px 2px 10px -2px rgba(50, 50, 76, 0.5);
  -moz-box-shadow:    0px 2px 10px -2px rgba(50, 50, 76, 0.5);
  box-shadow:         0px 2px 10px -2px rgba(50, 50, 76, 0.5);
  .date-label{
    height: 40px;
    padding: 10px;
    display: inline-block;
    width: $dayWidth / $calWidth * 100%;
    text-align: center;
    margin: 0;
  }
  .date-label-placeholder{
    height: 40px;
    display: inline-block;
    margin: 0;
    float: left;
    width: $timeLabelWidth / $calWidth * 100%;
  }
}

.date-label.today{
  color: #1d87e7;
  font-weight: bold;
}



.calendar-day{
  @extend .cal-element;
  position: relative;
  width: $dayWidth / $calWidth * 100%;
  .time-block-even{
    @extend .time-block;
    border-top: 1px dashed $grey;
  }
  .time-block-odd{
    @extend .time-block;
    border-top: 1px solid $grey;
  }
  .time-block-odd:first-child{
    border-top: none;
  }
  .time-indicator{
    position: absolute;
    width: 100%;
    border-top: 2px solid #fd5456;
  }
}

.label-container{
  @extend .cal-element;
  width: $timeLabelWidth/$calWidth * 100%;
  margin: 0;
  padding-right: 5px;
  border-right: 1px solid $grey;
  float: left;
  .time-label{
    height: 2 * $halfHour;
    width: 100%;
    text-align: right;
  }
  .time-label.label0{
    height: -9px + 2 * $halfHour;
  }

}

