$halfHour: 25px;
$calWidth: 1000px;
$timeLabelWidth: 50px;
$dayWidth: ($calWidth - $timeLabelWidth)/7;
$eventFont: 14px;
$grey: #e3e3e3;

.time-block{
  width: 100%;
  height: $halfHour;
  border-right: 1px solid $grey;
  pointer-events: none;
}

.week-dir{
  height: 85%;
  position: relative;
  display: block;
}

.week-container{
  width: 100%;
  height:93%;
  overflow: scroll;
  margin: 0;
  position: relative;
}

.cal-element{
  display: inline-block;
}

.date-labels{
  position: relative;
  height: 7%;
  min-height: 30px;
  background-color: #fff;
  margin: -10px -10px 0 -10px;
  border-bottom: 1px solid $grey;
  .date-label{
    height: 40px;
    padding: 10px;
    display: inline-block;
    width: $dayWidth / $calWidth * 100%;
    text-align: center;
    margin: 0;
  }
  .date-label-placeholder{
    height: 40px;
    display: inline-block;
    margin: 0;
    float: left;
    width: $timeLabelWidth / $calWidth * 100%;
  }
}

.date-label.today{
  color: #1d87e7;
  font-weight: bold;
}


.calendar-day{
  @extend .cal-element;
  position: relative;
  width: $dayWidth / $calWidth * 100%;
  .time-block-even{
    @extend .time-block;
    border-top: 1px dashed $grey;
  }
  .time-block-odd{
    @extend .time-block;
    border-top: 1px solid $grey;
  }
  .time-block-odd:first-child{
    border-top: none;
  }
  .time-indicator{
    position: absolute;
    width: 100%;
    border-top: 2px solid #fd5456;
  }
  .calendar-event{
    position: absolute;
    background-color: #91c3f4;
    border-left: 2px solid #1c80dc;
    display:inline-block;
    overflow: hidden;
    padding-bottom: 10px;
    font-size: $eventFont;
    p{
      display: block;
      position: relative;
      width: 95%;
      margin: 3px;
      margin-bottom: 5px;
    }
  }
/*  .calendar-event:before{
    content: '';
    @extend .calendar-event-pseudo;
  }
  .calendar-event.truncated:before{
    content: '...';
    @extend .calendar-event-pseudo;
  }*/
  .calendar-event.overlapping{
    -webkit-box-shadow: 0 0 .5em 0px rgba(55, 55, 55, 0.75);
    -moz-box-shadow:    0 0 .5em 0px rgba(55, 55, 55, 0.75);
    box-shadow:         0 0 .5em 0px rgba(55, 55, 55, 0.75);
  }
  .calendar-event:hover{
    z-index: 1000;
    -webkit-box-shadow: 0 0 .5em 0px rgba(55, 55, 55, 0.75);
    -moz-box-shadow:    0 0 .5em 0px rgba(55, 55, 55, 0.75);
    box-shadow:         0 0 .5em 0px rgba(55, 55, 55, 0.75);
  }
}

.calendar-day.today{
  background-color: #f1f7fd;
}
.calendar-event-pseudo{
  text-align: left;
  background-color: #91c3f4;
  width: 100%;
  padding-left: 5px;
  position: absolute;
  height: $eventFont - 2px;
  top: 100%;
  margin-top: -$eventFont - 2px;
}

.label-container{
  @extend .cal-element;
  width: $timeLabelWidth/$calWidth * 100%;
  margin: 0;
  padding-right: 5px;
  border-right: 1px solid $grey;
  float: left;
  .time-label{
    height: 2 * $halfHour;
    width: 100%;
    text-align: right;
  }
  .time-label.label0{
    height: -9px + 2 * $halfHour;
  }

}

