<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <section id="ng-app" ng-app="wfCalendar">
      <week>
      </week>
    </section>
    <script src="/javascripts/bundle.js"></script>
  </body>
</html>